

  <%= render 'shared/page_title', title: 'All Bars' %>

  <ul class="nav nav-tabs">
    <li>
      <%= link_to 'Recipes', recipes_path %>
    </li>
    <li class="active">
      <%= link_to 'Bars', bars_path %>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= will_paginate %>
    </div>
  </div>

  <% @bars.each do |bar| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= link_to gravatar_for(bar, size: 200), bar_path(bar) %>
      <p>
        <h5>Bar: <%= bar.barname %></h5>
      </p>
    </div>
  </div>
  <% end %>
